<a href="https://colab.research.google.com/github/priyak950/Step-by-Step-to-Data-Science/blob/main/SQL/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Pandas with SQLite

In [2]:
import pandas as pd
import sqlite3
import warnings
warnings.filterwarnings("ignore")

Create a connection

In [3]:
conn = sqlite3.connect("example2.db")
cur = conn.cursor()

Creation of a dataframe(Pnadas)

In [4]:
df = pd.read_sql_query("SELECT * FROM customer",conn)
df

    name last_name
0  priya      last

Run queries from pandas

In [5]:
pd.read_sql("select name from customer",conn)

    name
0  priya

#Read CSV file with pandas

In [7]:
df = pd.read_csv("sample.csv")
df

     station_id  bikes_available  docks_available                 time
0             2                2               25  2013/08/29 13:00:02
1             2                2               25  2013/08/29 14:00:01
2             2                2               25  2013/08/29 15:00:02
3             2                2               25  2013/08/29 16:00:01
4             2                2               25  2013/08/29 17:00:01
..          ...              ...              ...                  ...
995           2               13               14  2013/09/12 00:03:01
996           2               13               14  2013/09/12 00:04:01
997           2               13               14  2013/09/12 00:05:01
998           2               13               14  2013/09/12 00:06:01
999           2               13               14  2013/09/12 00:07:01

[1000 rows x 4 columns]

In [9]:
df.head(2)

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 13:00:02
1           2                2               25  2013/08/29 14:00:01

#creating a table in SQLite from a CSV file with Pandas

In [10]:
sample_df = pd.read_csv("sample.csv")

In [11]:
sample_df.to_sql("sample_table",conn,if_exists="replace",index=False)

In [12]:
from pandas.io.sql import read_sql
pd.read_sql("select * from sample_table limit 1",conn)

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 13:00:02

#function to get all the tables info

In [17]:
def table_info(conn,cursor):
  """
  print out all of the column of every table
  conn: database connection object
  cursor: cursor object
  """
  tables = cur.execute("select * from sqlite_master where type='table';").fetchall()
  for table_name in tables:
    table_name = table_name[0]
    table = pd.read_sql_query("select * from {} limit 0".format(table_name),conn)
    print(table_name)
    for col in table.columns:
      print("\t "+ col)
      print()

In [18]:
table_info(conn,cur)

DatabaseError: ignored

##see Schema

In [20]:
cur.execute("PRAGMA table_info('customer')").fetchall()

[(0, 'name', 'TEXT', 0, None, 0), (1, 'last_name', 'TEXT', 0, None, 0)]