<a href="https://colab.research.google.com/github/priyak950/Step-by-Step-to-Data-Science/blob/main/SQL/SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

##connection

In [19]:
conn = sqlite3.connect('example2.db');

###table

In [20]:
#create curse

cur = conn.cursor()

#create table

cur.execute("CREATE TABLE customer(name TEXT,last_name TEXT)")

OperationalError: ignored

##insert

In [9]:
cur.execute("INSERT INTO customer values('priya','last')")

##save

In [16]:
conn.commit()

##fetch

In [11]:
cur.execute("SELECT * from customer")
cur.fetchone()

('priya', 'last')

##using for loop

In [12]:
for row in cur.execute("SELECT * from customer"):
  print(row)

('priya', 'last')

##ADD servel ROW

In [13]:
customer_list = [
                 ('riya','keshav'),
                 ('Sandeep','mashwari')
]

In [14]:
cur.executemany("INSERT INTO customer values(?,?)",customer_list)

In [15]:
for row in cur.execute("SELECT * from customer"):
  print(row)

('priya', 'last')
('riya', 'keshav')
('Sandeep', 'mashwari')

In [17]:
conn.commit()

In [18]:
conn.close

#Run queries

In [22]:
cur.execute('SELECT * from customer')
cur.fetchall()

[('priya', 'last'), ('riya', 'keshav'), ('Sandeep', 'mashwari')]